.Container{
    margin-top: 40px;
}
.path{
    display: flex; 
}
.path-link-detail{ 
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.product-detail__left img {
    object-fit: contain;
    width: 100%;
}
/* .homepage {
 margin-right: 4px;
} */

/* .product-present{
    display: flex; 
} */



.detailproduct{
    color: #231f20;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-top: 40px;
}
.purchases-sold{
    display: flex;
    color:#231f20;
    font-size:12px;
    letter-spacing:0.36px;
    line-height:15px;
    margin:0px 0px 0px 5px;
}
.mainprice-sale-price__1 {  
    display: flex;
    margin: 5px 5px 5px;
}
.mainprice-sale-price__1 > p{
    margin-right: 5px;
   color:  #231f20;
}
.sold-tow{
    border-color:#2f5acf;
    border-radius:7px;
    border-style: solid;
    border-width:1px;
    color:#2f5acf;
    display:inline-flex;
    font-size:14px;
    line-height:21px;
    margin: -10px 0;
    padding:2px 10px;
    height: 29px;
}
.sold-tow p {
    font-size: 14px;
    margin: auto;
}
.btn-count{ 
    margin-top: 20px;
    display: flex;
    align-items: center; 
    height: 40px;
    justify-self: center;
}
.btn-colors{
height: 40px;
border-radius: 16px;
width: 68px;
margin: -50px 10px;
border: none;
outline: none;
transition:  all 0.5s ease;
} 

/* .btn-colors:hover{
background-color: #909090;
} */
.btn-size{
width: 80px;
border-radius: 16px;
}
.btn-count > Button{
margin: 10px 10px;
}

/* pocy */
.product-policy{
 margin-top: 15px;   
display: flex;                
justify-content: center;                
flex-wrap: wrap;
font-weight: 400;
font-size: 12px;
line-height: 15px;
text-align: center;
letter-spacing: .03em; 

gap:1% ;
padding-bottom:20px ;
border-bottom: 1px solid #D3D3D3;
}
.policy-item{
margin-top: 20px;
margin-bottom:10px ;
display: flex;
justify-content: center;
align-items: center;
flex-flow: column;
width: 32%;
text-align: center;
padding: 15px;
}
.policy-icon{
position: relative;
width: 35px;
height: 35px;
margin-bottom: 10px;
}
.product-quantity-change{
   border-style: solid;
   border-width: 1px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-color:#000000;
    border-radius: 16px;
    font-weight: 500;
    font-size: 23;
}
.boder-bottom{
    margin-top: 50px;
    border-bottom: 1px solid #D3D3D3;
}
.quantity-down{
    width: 30px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
    outline: none;
    border: none;
}
.quantity-up{
    width: 30px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
    outline: none;
    border: none;
}
.add-cart{
    margin-left: 40px;
    width: 350px;
    border-radius: 10px;
    background-color: #000000;
}
.quantity{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}
    .size-shirt {
    color:#231f20;
    display: flex;
    font-size:14px;
    line-height:21px;
    margin-top: 20px;
    text-align:left ;
    font-weight: 400;
    }

.suport-size{
    margin-top: 10px;
    color: #231f20;
    font-size:14px;    
}
 .cart-detai-img{
    position: relative;
    display: flex;
 }
 .cart-detail-product{
    margin-left: 50px;
 }
 .detail-detailproduct{
    font-size:14.4px;
    color:#231f20 ;
    font-weight: 700;
 }
 .detail-size-color{
    display: flex;
 }
 .quantity-buy{
    color: black;
 }
 .policy-content{
    color: black;
    font-size: 14px;
 }
.button-delete{
position: absolute;
right: 0;
border: none;
background-color: white;
}
.img-detail{
    width: 126px;
    height: 186px;
    background-color:#ffffff;
   border-radius:16px;
}
.product-quantity{
    margin-top: 5px;
    width: 70px;
    height: 25px;
}
.bill-count{
    display: flex;
    justify-content: space-between;
}
.select{
    width: 70px;
    height: 30px;
    outline: none;
    border-radius: 16px;
}
.salient-features{
    display: flex;
}
.salient-features-text{
    font-size:14px;
    font-weight:500;
    line-height:18px;
    padding:15px 0 0px 20px;
    
}
.salient-features-text__child{
    padding:0;
    margin-left: 20px;
}