.slide {
    position: relative;
}
  
  .slide img {
    height: 80vh;
    width: 100%;
  }
  .policy {
    position: absolute;
    bottom: 10;
    width: 100%;
    height: 30px;
    z-index: 3;
    color: aqua;
    display: flex;
    justify-content: space-around;
  }
    span {
      border: solid;
      border-radius: 10px;
      background: #f9f9f9;
      color: rgba(13, 17, 1, 0.766);
      padding: 10px 25px;
    }
  